body {
  background: linear-gradient(135deg, #3a0ca3, #000000);
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

h1 span {
  color: #a855f7;
}

input, select, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
}

input, select {
  background: #2a2a2a;
  color: white;
}

button {
  background: #a855f7;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7e22ce;
}

.form-box {
  display: none;
}

.form-box.active {
  display: block;
}

a {
  color: #a855f7;
  cursor: pointer;
}
